<!--start management-->
<div class="wrap cfix">
    <div class="l leftCon">
        <div class="userbox tac">
            <div class="uimg">
                <img class="j_usr_img" src="../../../Images/03-login/portraint01.png" width="100" height="100" alt="" />
            </div>

            <p class="p1">
                <span class="fs14 td-n j_usr_name">
                    <span class="myname" title="">昵 称：{{userInfoModel.nickName}}</span>
                    <!--<a href="#" target="_blank" class="ico-edit"></a>-->
                </span>
            </p>
            <p class="p2">(管理员ID: {{userInfoModel.loginId}})</p>
            <p><span class="fs14 vam"> 余额 : <strong class="c-red">888</strong></span></p>
        </div>
        <ul class="sidenav manageCenterUl">
            <li><a routerLink="/administrator" (click)="sidenavClick_admin($event,0)"><span class="ico_db" (click)="sidenavSpanClick_admin($event,0)">用户管理</span> </a></li>
            <li><a routerLink="/administrator" (click)="sidenavClick_admin($event,1)"><span class="ico_buy" (click)="sidenavSpanClick_admin($event,1)">订单管理</span></a></li>
            <li><a routerLink="/administrator" (click)="sidenavClick_admin($event,2)"><span class="ico_luck" (click)="sidenavSpanClick_admin($event,2)">投诉管理</span></a></li>
            <li><a routerLink="/administrator" (click)="sidenavClick_admin($event,3)"><span class="ico_luck" (click)="sidenavSpanClick_admin($event,3)">消息管理</span></a></li>
        </ul>
    </div>
    <!-- 未登陆 -->
    <div class="r rightCon" *ngIf="navStatus==-1">
        <div class="col-md-7 black_login">
            <img src="../../Images/03-login/blank_bg.png" />
        </div>
        <div class="col-md-4 black_login_r">
            <h3>您尚未登录，请先登录~</h3>
            <a routerLink="/login">登    录</a>
        </div>
    </div>
    <!-- 账户管理 -->
    <div class="r rightCon" *ngIf="navStatus==0">
        <div class="cfix topTit">
            <div class="col-md-5"><h3 class="l fs20 c-black">所有用户信息</h3></div>
            <div class="col-md-7">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search loginId" [(ngModel)]="searchLoginId" name="searchLoginId">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="SearchByLoginId()">查 询</button>
                </form>
            </div>
        </div>
        <div class="cfix tabBox">
            <ul class="l cfix tabs">
                <li class="on"><a style="cursor:pointer;" (click)="tabBoxClick_UserCursor($event,-1,-1)">全部</a></li>
                <li class=""><a style="cursor:pointer;" (click)="tabBoxClick_UserCursor($event,0,-1)">普通用户</a></li>
                <li class=""><a style="cursor:pointer;" (click)="tabBoxClick_UserCursor($event,1,-1)">管理员</a></li>
                <li class=""><a style="cursor:pointer;" (click)="tabBoxClick_UserCursor($event,-1,0)">正常</a></li>
                <li class=""><a style="cursor:pointer;" (click)="tabBoxClick_UserCursor($event,-1,1)">停用</a></li>
                <li class=""><a style="cursor:pointer;" (click)="tabBoxClick_UserCursor($event,-1,2)">冻结</a></li>
                <li class=""><a style="cursor:pointer;" (click)="tabBoxClick_UserCursor($event,-1,3)">废弃</a></li>
            </ul>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-addr">
                <tr>
                    <th class="th30"><span class="pl10">用户ID</span></th>
                    <th class="th60"><span class="pl10">昵称</span></th>
                    <th class="th120">联系电话</th>
                    <th class="th200">地址</th>
                    <th class="th120">邮箱</th>
                    <th class="th120">用户状态</th>
                    <th class="th120">用户角色</th>
                    <th class="operate th200">操作</th>
                </tr>

                <tr data-id="" class="address-add" *ngFor="let item of userInfoModelList;let i = index;">
                    <td class="th30"><span class="c-black fs14">{{item.loginId}}</span></td>
                    <td class="th60"><span class="c-black fs14">{{item.nickName}}</span></td>
                    <td class="th120"><span class="c-black fs14">{{item.phone}}</span></td>
                    <td class="th200"><span class="c-black fs14">{{item.location}}</span></td>
                    <td class="th120"><span class="c-black fs14">{{item.email}}</span></td>
                    <td class="th120">{{item.statusDescription}}</td>
                    <td class="th120">{{item.roleDescription}}</td>

                    <td class="operate">
                        <a data-toggle="modal" data-target="#userEditModel" href="###" class="fs14 a-edit" (click)="GetThisLineUserInfo(i)">编辑</a>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <!-- 订单管理 -->
    <div class="r rightCon" *ngIf="navStatus==1">
        <div class="cfix topTit">
            <h3 class="l fs20 c-black">所有订单记录</h3>
        </div>
        <div class="cfix tabBox">
            <ul class="l cfix tabs">
                <li class="on"><a href="?t=0">全部</a></li>
                <li class=""><a href="?t=1">进行中</a></li>
                <li class=""><a href="?t=2">即将揭晓</a></li>
                <li class=""><a href="?t=3">已揭晓</a></li>
            </ul>
        </div>
        <div class="row myorderBlock">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 btn">
                <input type="button" class="no-top-margin toMyorderDetail_btn" value="查 看 详 情" name="">
                <input type="button" class="no-top-margin toMyorderComplaint_btn" value="投       诉" name="">
            </div>
        </div>

    </div>
    <!-- 投诉管理 -->
    <div class="r rightCon" *ngIf="navStatus==2">
        <div class="cfix topTit">
            <h3 class="l fs20 c-black">所有投诉记录</h3>
        </div>
        <div class="cfix tabBox">
            <ul class="l cfix tabs">
                <li class="on"><a href="?t=0">全部</a></li>
                <li class=""><a href="?t=1">已处理</a></li>
                <li class=""><a href="?t=2">待处理</a></li>
            </ul>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-addr">
            <tr>
                <th class="th30"><span class="pl10">用户ID</span></th>
                <th class="th60"><span class="pl10">昵称</span></th>
                <th class="th120">联系电话</th>
                <th class="th200">地址</th>
                <th class="th120">邮箱</th>
                <th class="th120">用户状态</th>
                <th class="th120">用户角色</th>
                <th class="operate th200">操作</th>
            </tr>

            <tr data-id="" class="address-add" *ngFor="let item of userInfoModelList;let i = index;">
                <td class="th30"><span class="c-black fs14">{{item.loginId}}</span></td>
                <td class="th60"><span class="c-black fs14">{{item.nickName}}</span></td>
                <td class="th120"><span class="c-black fs14">{{item.phone}}</span></td>
                <td class="th200"><span class="c-black fs14">{{item.location}}</span></td>
                <td class="th120"><span class="c-black fs14">{{item.email}}</span></td>
                <td class="th120">{{item.statusDescription}}</td>
                <td class="th120">{{item.roleDescription}}</td>

                <td class="operate">
                    <a data-toggle="modal" data-target="#userEditModel" href="###" class="fs14 a-edit" (click)="GetThisLineUserInfo(i)">处理投诉信息</a>
                </td>
            </tr>

        </table>

    </div>
    <!-- 消息管理 -->
    <div class="r rightCon" *ngIf="navStatus==3">
        <div class="cfix topTit">
            <h3 class="l fs20 c-black">所有消息记录</h3>
        </div>
        <div class="cfix tabBox">
            <ul class="l cfix tabs">
                <li class="on"><a href="javascript:void(0);" (click)="tabBoxClick_message($event,0)">全部</a></li>
                <li class=""><a href="javascript:void(0);" (click)="tabBoxClick_message($event,1)">发布</a></li>
            </ul>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-addr"  *ngIf="messageFlag">
                <tr>
                    <th class="th30"><span class="pl10">用户ID</span></th>
                    <th class="th60"><span class="pl10">昵称</span></th>
                    <th class="th120">联系电话</th>
                    <th class="th200">地址</th>
                    <th class="th120">邮箱</th>
                    <th class="th120">用户状态</th>
                    <th class="th120">用户角色</th>
                    <th class="operate th200">操作</th>
                </tr>

                <tr data-id="" class="address-add" *ngFor="let item of userInfoModelList;let i = index;">
                    <td class="th30"><span class="c-black fs14">{{item.loginId}}</span></td>
                    <td class="th60"><span class="c-black fs14">{{item.nickName}}</span></td>
                    <td class="th120"><span class="c-black fs14">{{item.phone}}</span></td>
                    <td class="th200"><span class="c-black fs14">{{item.location}}</span></td>
                    <td class="th120"><span class="c-black fs14">{{item.email}}</span></td>
                    <td class="th120">{{item.statusDescription}}</td>
                    <td class="th120">{{item.roleDescription}}</td>

                    <td class="operate">
                        <a data-toggle="modal" data-target="#userEditModel" href="###" class="fs14 a-edit" (click)="GetThisLineUserInfo(i)">编辑</a>
                    </td>
                </tr>

            </table>
        </div>
        <!-- 发布消息 -->
        <form action="" id="sentMassform" class="form-horizontal" style="min-width:500px;" *ngIf="!messageFlag">
            <div class="form-group">
                <label for="true" class="col-sm-2 control-label">用户ID :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="" name="loginId">
                </div>
            </div>
            <div class="form-group">
                <label for="true" class="col-sm-2 control-label">内  容 :</label>
                <div class="col-sm-8">
                    <textarea class="form-control" placeholder="请输入...." name="sentmass_content" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <input type="button" class="no-top-margin sentMassform_btn pull-right" value="发  布  消  息" name="">
                </div>
            </div>
        </form>
    </div>

</div>


<!-- model -->
<div class="modal fade" id="userEditModel" tabindex="-1" role="dialog" aria-labelledby="userEditModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="userEditModelLabel">用 户 修 改</h4>
            </div>
            <div class="modal-body">
                <form action="" id="userEditform" class="form-horizontal" style="min-width:500px;">
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">用户ID :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="model_userInfoModel.loginId" name="loginId" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">昵  称 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="model_userInfoModel.nickName" name="nickName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">电  话 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="model_userInfoModel.phone" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">地  址 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="model_userInfoModel.location" name="position">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">邮  箱 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="model_userInfoModel.email" name="email" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">用户状态:</label>
                        <div class="col-sm-10">
                            <select id="userModelStatus" class="form-control" (change)="model_userStatusModel_selectOnchange($event.target.value)" name="ustatus">
                                <option value="0">正常</option>
                                <option value="1">停用</option>
                                <option value="2">冻结</option>
                                <option value="3">废弃</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">用户角色:</label>
                        <div class="col-sm-10">
                            <select id="userModelRole" class="form-control" (change)="model_userRoleModel_selectOnchange($event.target.value)" name="ustate">
                               <option value="0">普通用户</option>
                                <option value="1">管理员</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                <button type="button" class="btn btn-primary" (click)="EditUser()">保 存</button>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="userDeleteModel" tabindex="-1" role="dialog" aria-labelledby="userDeleteModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="userDeleteModelLabel">用  户  删  除</h4>
            </div>
            <div class="modal-body">
                <form action="" id="userEditform" class="form-horizontal" style="min-width:500px;">
                    <div class="form-control col-md-8 col-md-offset-2">
                        <h4>确定要删除该用户吗？</h4>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
                    <button type="button" class="btn btn-primary" (click)="DeleteUser()">确 定</button>
                </div>
            </div>
        </div>
    </div>
</div>-->

<!--end management-->
