<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--start QX_Frame configs-->
  <connectionStrings>
    <add name="QX_Frame_Default" connectionString="data source=.;initial catalog=db_qx_frame;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="db_qx_frame" connectionString="data source=.;initial catalog=db_qx_frame;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBEntity_DG" connectionString="data source=.;initial catalog=db_Test;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--伪静态路径最大深度-->
    <add key="rewritedepth" value="10" />
    <!--自定义响应头，key-value用冒号隔开，多个头用封号隔开-->
    <add key="responseheaders" value="Access-Control-Allow-Origin:*;Access-Control-Allow-Methods:GET,POST,PUT,DELETE;Access-Control-Allow-Headers:Content-Type" />
    <!--Log Save Location-->
    <add key="Log_Location_General_DG" value="Log_QX_Frame/Log_QX_Frame_General/" />
    <add key="Log_Location_Error_DG" value="Log_QX_Frame/Log_QX_Frame_Error/" />
    <add key="Log_Location_Use_DG" value="Log_QX_Frame/Log_QX_Frame_Use/" />
    <!--end Log Save location-->
    <!-- Cache config-->
    <add key="IsCache" value="1"/>
    <!-- 1 true 0 false-->
    <add key="CacheExpirationTime_Minutes" value="10"/>
    <!--end Cache config-->
    <!--Auth validation config-->
    <add key="Auth_Token_expireTime_days" value="0" />
    <add key="Auth_Token_expireTime_hours" value="0" />
    <add key="Auth_Token_expireTime_minutes" value="30" />
    <!--end Auth validation config-->
  </appSettings>
  <!--end QX_Frame configs-->
</configuration>