<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="db_qx_frame" connectionString="data source=.;initial catalog=db_qx_frame;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBEntity_DG" connectionString="data source=.;initial catalog=db_Test;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--some QX_Frame configs-->
  <appSettings>
    <!--Log Save Location-->
    <add key="Log_Location_General_DG" value="Log_QX_Frame/Log_QX_Frame_General/" />
    <add key="Log_Location_Error_DG" value="Log_QX_Frame/Log_QX_Frame_Error/" />
    <add key="Log_Location_Use_DG" value="Log_QX_Frame/Log_QX_Frame_Use/" />
    <!--end Log Save location-->

    <!--Auth validation config-->
    <add key="Auth_Token_expireTime_days" value="0"/>
    <add key="Auth_Token_expireTime_hours" value="0"/>
    <add key="Auth_Token_expireTime_minutes" value="30"/>
    <!--end Auth validation config-->
  </appSettings>
</configuration>