<!--start complaint-->
<div class="complaint_mod">
    <form action="" id="complaintform" class="form-horizontal" style="min-width:500px;">
        <div class="form-group">
            <label for="true" class="col-sm-2 control-label">内  容 :</label>
            <div class="col-sm-8">
                <textarea class="form-control" placeholder="有不满？来尽情地怼我吧...." name="complainContent" rows="6" [(ngModel)]="complainModel.complainContent"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-offset-2">
                <input type="button" class="no-top-margin complaint_btn pull-right" value="投       诉" name="" (click)="SendComplain()">
            </div>
        </div>
    </form>
</div>
<!--end complaint-->
