@charset "utf-8";
/* CSS Document */
/* complaint css*/
.complaint_mod{
    width:700px;
    margin:150px auto 20px auto;
    border:1px solid #e2e2e2;
    padding:30px 0 0 0;
}
.complaint_btn{
  width:200px;
  height:30px;
  line-height:30px;
  display: block;
  font-size:16px;
  background-color: #e72015;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin:10px 0;
}
.complaint_btn:hover,.complaint_btn:focus {
    background-color: #ef5048;
}