<!--start myorderDetail-->
<div class="myorderDetail_T">
    <div class="row">
        <div class="col-md-2 text-right myorderDetail_T_title">订单编号：</div>
        <div class="col-md-7 myorderDetail_T_text">{{order.orderUid}}</div>
        <div class="col-md-2">
            <span style="color:tomato;font-size:20px;">￥</span>
            <span style="color:#444;font-size:16px;">{{order.orderValue}}</span>
        </div>
    </div>
</div>
<div class="myorderDetail_C">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 text-right myorderDetail_title">订单描述：</div>
        <div class="col-md-8 myorderDetail_text">{{order.orderDescription}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 text-right myorderDetail_title">订单状态：</div>
        <div class="col-md-8 myorderDetail_text">{{orderStatus}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 myorderDetail_people">
            <div class="row">
                <p class="col-md-12 myorderDetail_title" style="text-align:center;color:#444;">发布信息</p>
            </div>
            <div class="row">
                <div class="col-md-6 text-right myorderDetail_title">发布者：</div>
                <div class="col-md-6 myorderDetail_text">{{publisherInfo}}</div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right myorderDetail_title">发布时间：</div>
                <div class="col-md-6 myorderDetail_text">{{order.publishTime}}</div>
            </div>
        </div>
        <div class="col-md-6 myorderDetail_people">
            <div class="row">
                <p class="col-md-12 myorderDetail_title" style="text-align:center;color:#444;">接单信息</p>
            </div>
            <div *ngIf="order.receiverUid!='00000000-0000-0000-0000-000000000000'">
                <div class="row">
                    <div class="col-md-6 text-right myorderDetail_title">接单者：</div>
                    <div class="col-md-6 myorderDetail_text">{{receiverInfo}}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right myorderDetail_title">接单时间：</div>
                    <div class="col-md-6 myorderDetail_text">{{order.receiveTime}}</div>
                </div>
                </div>
                <div *ngIf="order.receiverUid=='00000000-0000-0000-0000-000000000000'">
                    <div class="row">
                        <div class="col-md-3 text-right myorderDetail_title">接单者：</div>
                        <div class="col-md-9 myorderDetail_text" style="margin-bottom:36px;">无</div>
                    </div>

                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 text-right myorderDetail_title">地址：</div>
        <div class="col-md-8 myorderDetail_text">{{order.address}}</div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 text-right myorderDetail_title">电话：</div>
        <div class="col-md-8 myorderDetail_text">{{order.phone}}</div>
    </div>
</div>
<!-- 未支付 2-->
<div class="myorderDetail_F" *ngIf="orderStatus=='未支付'">
    <div class="row orderHints_div">
        <p class="orderHints col-md-12">
            您的需求已发布，需要支付后才能对其他用户可见~
        </p>
    </div>
    <div class="row pull-right">
        <input type="button" data-toggle="modal" data-target="#paymentModal" class="myorderDetail_F_btn" value="支 付" name="" (click)="forPayment()">
        <input type="button" class="myorderDetail_F_btn" value="取 消 订 单" name="">
        <a routerLink="/complaint" class="myorderDetail_F_btn" name="" style="display:inline-block">投       诉</a>
    </div>
</div>
<!-- 已支付 (发布者状态栏--待接单) 3-->
<div class="myorderDetail_F"  *ngIf="orderStatus=='已支付'">
    <div class="row orderHints_div">
        <p class="orderHints col-md-12">
            该订单已完成支付，请耐心等待其他用户的响应。。。。
        </p>
    </div>
    <div class="row pull-right">
        <input type="button" class="myorderDetail_F_btn" value="取 消 订 单" name="">
        <a routerLink="/complaint" class="myorderDetail_F_btn" name="" style="display:inline-block">投       诉</a>
    </div>
</div>
<!-- 已接单 （接单者状态栏--待完成）4-->
<div class="myorderDetail_F" *ngIf="orderStatus=='已接单'">
    <div class="row orderHints_div">
        <p class="orderHints col-md-12">
            恭喜您成功抢到该单，对方正在等待您的完成反馈o~
        </p>
    </div>
    <div class="row pull-right">
        <input type="button" class="myorderDetail_F_btn" value="我 已 完 成" name=""  (click)="UpdateOrderStatus(6)">
        <a routerLink="/complaint" class="myorderDetail_F_btn" name="" style="display:inline-block">投       诉</a>
    </div>
</div><!-- 已完成 我的接单（接收者状态栏）6 -->
<div class="myorderDetail_F" *ngIf="orderStatus=='完成确认'&&isMyPublish==false">
    <div class="row orderHints_div">
        <p class="orderHints col-md-12">
            您的完成反馈已发送到对方，正在等待对方确认~
        </p>
    </div>
    <div class="row pull-right">
        <a routerLink="/complaint" class="myorderDetail_F_btn" name="" style="display:inline-block">我 要 投 诉</a>
    </div>
</div>
<!-- 完成确认 我的发布6-->
<div class="myorderDetail_F" *ngIf="orderStatus=='完成确认'&&isMyPublish==true">
    <div class="row orderHints_div">
        <p class="orderHints col-md-12">
            对方已完成您发布的需求订单，正在等待您的反馈意见o~
        </p>
    </div>
    <div class="row pull-right">
        <input type="button" class="myorderDetail_F_btn" value="确 认 完 成" name=""  (click)="UpdateOrderStatus(7)">
        <a routerLink="/complaint" class="myorderDetail_F_btn" name="" style="display:inline-block">我 要 投 诉</a>
    </div>
</div>
<!-- 订单结束 7 -->
<div class="myorderDetail_F" *ngIf="orderStatus=='订单结束'">
    <div class="row orderHints_div">
        <p class="orderHints col-md-12">
            该订单已完成，交易已关闭。
        </p>
    </div>
    <div class="row pull-right">
        <a routerLink="/complaint" class="myorderDetail_F_btn" name="" style="display:inline-block">我 要 投 诉</a>
    </div>
</div>
<!-- 支付model -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="paymentModalLabel">确 认 支 付</h4>
            </div>
            <div class="modal-body">
               <div class="row banlance_hint" *ngIf="canPay=='true'">
                   <p>此次订单发布需要支付金额 <span style="color:tomato;">{{order.orderValue}}</span>元</p>
                   <p>确认支付吗？</p>
               </div>
                <div class="row banlance_hint" *ngIf="canPay=='false'">
                    <p>此次订单发布需要支付金额 <span style="color:tomato;">{{order.orderValue}}</span>元</p>
                    <p>您的余额为<span style="color:tomato;">{{balance}}</span></p>
                    <p style="color:tomato;">余额不足，请先充值~</p>
                </div>
                <div class="row banlance_hint" *ngIf="canPay=='already'">
                    <img src="../../../../Images/03-login/emo_suc.png" />
                    <span style="color:tomato;margin-left:5px;font-size:22px;">支付成功~</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="canPay!='already'">关 闭</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" *ngIf="canPay=='already'"  (click)="refresh()">确 定</button>
                <button type="button" class="btn btn-primary" (click)="toPayment()" *ngIf="canPay=='true'">确 认 支 付</button>
                <button type="button" class="btn btn-primary" (click)="goPayment()" *ngIf="canPay=='false'">去 充 值</button>
            </div>
        </div>
    </div>
</div>
<!--end myorderDetail-->

