/* reset */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

.main{
padding:0;
margin:0;
font-family: 'Lato', sans-serif !important;
background: url('../../Images/70-index/banner.jpg') no-repeat; 
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- main --*/
.main{
	padding:45px 0;
}
.main h1{
	font-size:37px;
	text-align:center;
	text-transform:uppercase;
	font-family: 'Merriweather', serif ;	
	color:#fff;
    margin-bottom: 35px;
}
.invite{
	background:#fff;
	padding:17px 25px;
	width:35%;
	float: left;
	margin-left: 10%;
}
.invite h2 {
    font-size: 23px;
    text-align: center;
    color: #6c7077;
    font-family: 'Lato', sans-serif !important;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.fb-icons ul li{
	list-style-type:none;
	display:inline-block;
	float:left;
	width:50%;
}
.fb-icons ul li a {
	text-align:center;
    padding: 13px 0px;
	display: block;
    font-size: 14px;
}

.fb-icons{
	position:relative;
    margin-bottom: 30px;
}
.fb-icons p{
    position: absolute;
    top: 15%;
    left: 46.5%;
    color: #8694b4;
    text-transform: uppercase;
    background: #10182a;
    font-size: 14px;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
	-moz-border-radius: 100%;
    padding: 7px 6px;
    font-weight: 600;
}
.search input[type="text"] {
    border: none;
    outline: none;
    padding: 13px 12px;
    width: 82%;
    color: #687173;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    float: left;	
}
.search form input[type="submit"]{
    background: url('../../Images/70-index/search.png') no-repeat 12px 13px;
    color: #dbdbe3;
    font-weight: 600;
    font-size: 15px;
    padding: 0px 0px;
    border: none;
    border-left: 1px solid #e0e3ea;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    float: left;
    width: 42px;
    height: 45px;
}

.search-icon>span{
    background: 15px 15px #27AE60;
    width: 47px;
    height: 47px;
    display: inline-block;
}
.search-icon span span{
    color: #ffffff;
    width: 47px;
    height: 47px;
    margin-top: 15px;
    margin-left: 15px;
}
.search-icon{
	float:left;
}
.search-form{
    float: left;
    width: 94%;
    /* border: 1px solid #e0e3ea; */
}
.invite-but a {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    color: #f7f7fa;
	background:#27AE60;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.invite-but a:hover {
	background:#617BBB;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.invite-but{
	margin-top:25px;
}
.fb-frnds{
	margin:25px 0;
}
.fb-frnds ul li .load-grid{
    float: left;
    width: 22%;
    margin: 0 25px 27px;
	position:relative;
}
#myList li{ 
	display:none;
	list-style-type:none;
}
.load-grids:after{
	clear: both;
}
.clear{
	clear:both;
}
.fb-frnds ul li img{
	width:100%;
}
.fb-frnds ul li p {
color:#83858b;
text-align:center;
font-size:16px;
margin-top:10px;
font-weight:600;

}
.fb-frnds ul li p a{
color:#83858b;
}
span.col_checkbox {
    position: absolute;
    bottom: 26px;
    right: 2px;
}
.checkbox-grid-left input[type="checkbox"]{
	display:none;
}
.checkbox-grid-left input[type="checkbox"]+label{
	display:inline-block;
}
p.show{
	font-size:16px;
	color:#b2b4c3;
	font-weight:600;
	text-align:center;
	position:relative;
	cursor:pointer;	
}
p.show:before,p.show:after{
	width: 31%;
    height: 1px;
    background: #b2b4c3;
    position: absolute;
    top:50%;
    content: '';
}
p.show:after{
	right:10px;
}
p.show:before{
	left:10px;
}
p.footer{
	text-align:center;
	font-size:16px;
	color:#fff;
	margin-top:40px;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
p.footer a{ 
color:#000;
text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
p.footer a:hover{
	color:#fff;
}
/*-- responsive media queries --*/
@media (max-width: 1440px){
	.invite {
		width: 32%;
	}	
}
@media (max-width: 1366px){
	.fb-frnds ul li .load-grid{ 
		margin: 0 24px 38px;
	}	
}
@media (max-width: 1280px){
	.invite {
		width: 34%;
	}
	.main h1 {
		font-size: 36px;
	}
}
@media (max-width: 1080px){
	.main h1 {
		font-size: 32px;
	}
	.search-form {
		float: left;
		width: 86%;
	}
	.search input[type="text"] {
		width: 78%;
	}
	.fb-frnds ul li .load-grid {
		margin: 0 20px 38px;
	}
	.fb-frnds ul li p {
		font-size: 13px;
	}
}
@media (max-width: 1024px){
	.search-form {
		float: left;
		width: 85%;
	}
	.search input[type="text"] {
		width: 77%;
	}
.fb-frnds ul li .load-grid{
		margin: 0 19px 38px;
	}
	.invite {
		width: 37%;
	}
	.fb-frnds ul li p {
		font-size: 14px;
	}	
}
@media (max-width: 991px){
.invite {
    width: 39%;
}	
}
@media (max-width: 800px){
	.invite {
		width: 45%;
	}
.fb-frnds ul li .load-grid{
		margin: 0 14px 30px;
	}
.fb-frnds ul li .load-grid{
		float: left;
		width: 25%;
	}	

}
@media (max-width: 768px){
	.main {
		padding: 76px 0;
	}
.fb-frnds ul li .load-grid{
		margin: 0 14px 30px;
	}
.fb-frnds ul li .load-grid{
		float: left;
		width: 25%;
	}	
}
@media (max-width: 736px){
	.search-form {
    float: left;
    width: 86.3%;
}
	.invite {
		width: 50%;
	}	
}
@media (max-width: 667px){
	.search-form {
    float: left;
    width: 86%;
}
	.invite {
		width: 54%;
	}	
}
@media (max-width: 640px){
.main h1 {
    font-size: 30px;
}
.search-form {
    float: left;
    width: 85%;
}
.search input[type="text"] {
    width: 76%;
}
.search-icon span {
    width: 48px;
}	
}
@media (max-width: 600px){
	.main {
    padding: 60px 0;
}
.main h1 {
    font-size: 28px;
}
.invite {
    width: 61%;
}
p.footer {
    font-size: 14px;
}
p.show:before, p.show:after {
    width: 25%;
}
}
@media (max-width: 568px){
	
}
@media (max-width: 480px){
	.invite {
		width: 72%;
	}
	.fb-icons p {
		left: 45.5%;
	}	
.fb-frnds ul li .load-grid{
		margin: 0 9px 26px;
	}
.fb-frnds ul li .load-grid{
		float: left;
		width: 27.7%;
	}
	p.footer {
		line-height: 2em;
	}
	.main h1 {
		font-size: 25px;
	}
}
@media (max-width: 414px){
.invite {
    padding: 20px;
}
.invite {
    width: 78%;
}
.search-form {
    float: left;
    width: 83.2%;
}
.search input[type="text"] {
    width: 74%;
}
.fb-frnds ul li .load-grid{
    float: left;
    width: 27.4%;
}
.search-icon span {
    width: 44px;
}
.search input[type="text"] {
    font-size: 14px;
}
.search input[type="text"] {
    width: 71%;
}
.fb-frnds ul li .load-grid{
    float: left;
    width: 43%;
}
span.col_checkbox {
    right: 10px;
}
p.footer {
    font-size: 15px;
}
}
@media (max-width: 384px){
	p.show:before, p.show:after {
		width: 17%;
	}	

	p.footer {
		font-size: 14px;
	}
}
@media (max-width: 375px){
	.main h1 {
		font-size: 22px;
	}
	.fb-icons p {
		left: 44.8%;
	}	
}
@media (max-width: 320px){
	.main {
		padding: 50px 0;
	}
	.invite h2 {
		font-size: 18px;
	}
	.main h1 {
		font-size: 20px;
		margin-bottom: 25px;
	}
.fb-frnds ul li .load-grid{
		float: left;
		width: 42%;
	}
	.invite-but a {
		padding: 9px 0;
		font-size: 15px;
	}	
	p.footer {
		margin-top: 28px;
	}
	.search-icon span {
		width: 33px;
		height:33px;
	}
	.search-form {
		float: left;
		width: 85.1%;
	}
	.search input[type="text"] {
		padding: 7px 6px;
	}
	.search input[type="text"] {
		width: 78%;
	}
	.search form input[type="submit"] {
		background: url('../../Images/70-index/search.png') no-repeat 6px 6px;
		width: 32px;
		height: 31px;
	}
	.fb-icons ul li a {
		font-size: 14px;
		padding: 8px 0px;
	}
	.fb-icons p {
		font-size: 12px;
		padding: 5px 4px;
	}
}
.delete_checkbox{
	background-color: #4ab468;
	height: 25px;
	width: 25px;
	padding-top: 6px;
    padding-left: 5px;
	position: absolute;
	border-radius: 20px;
	right: 1px;
	bottom: 25px;
	cursor: pointer;
	color: #ffffff;
}
.trend{
	float: left;
	padding:20px 10px;
	width: 40%;
	height: 50%;
	margin-left: 4%;
}
.trend li{
	padding: 10px;
}
.trend-picture{
	float: left;
	width: 80px;
	height: 80px;
}
.trend-font{
	float: left;
	height: 80px;
	width: 80%;
	padding:10px 20px;
	color: #ffffff;
	font-size: 20px;
	overflow-y: auto;
}
.trend-name{
	margin-right: 5px;
	font-size: 20px;
}
.trend-reply{
	width: 50%;
	margin-left: 13%;
	margin-right: 5%;
	float: left;
}
.trend-btn{
	float: left;
}
.trend-conmment{
	margin-left: 94px;
    color: black;
}
.modal-content{
	margin: 20px 30px;
	font-size: 18px;
	padding: 10px 20px;
}
.delete-friends {
    background: url('../../Images/70-index/delete.png') no-repeat;
    height: 15px;
    width: 15px;
    display: block;
    background-size: cover;
}
.modal-dialog {
    margin:10px auto;
}
