@charset "utf-8";
/* CSS Document */
/* signup css*/
.signup-left{
		width:100%;
		height: 100%;
		display: table;
		background: url(../../Images/03-signup/sign01.png) no-repeat;
}
.signup-left-data img{
    width:100%;
}
.signup-right{
  display: block;
  position: absolute;
  left: 0%;
  width: 85%;
  height: 100%;
}
.signup-form{
  display: block;
  height: 100%;
  vertical-align: middle;
  padding: 0 20px;
  text-align: center;
  padding-top: 20px;
}
.errortip{
    color:#e72015;
    height:30px;
    line-height:30px;
    border:solid 1px #e72015;
}
.successtip{
    color:#4caf50;
    height:30px;
    line-height:30px;
    border:solid 1px #419245;
}
.no-margin-bottom{
  margin-bottom: 0 !important;
}
.signup-form label{
  color: #000;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 8px;
  margin-top: 5px;
  text-align: left;
  display: block;
  text-transform: uppercase;
   margin-top:18px;
}
.signup-form input{
  padding: 9px 10px;
  border-radius: 0;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #F5F5F5;
  font-size: 16px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%; /* 382px; */
  background-color: #F5F5F5;
 
}

.signup-form .forgot-link{
  font-size: 16px;
  line-height: 23px;
  color: #000;
  display: block;
  text-align: left;
}
.signup-form .signup-btn{
  background-color: #e72015;
  color: #fff;
  border: none;
  border-radius: 6px;
  max-height: 56px;
  margin-top: 28px;
  float: left;
  margin-bottom:20px;
}
.signup-btn:hover, .signup-btn:focus {
    background-color: #303137;
}


/*login css*/
.loginForm{
  padding: 100px 20px;
}

/*verify css*/
.verrify_msg{
    font-size:24px;

}
.verifyForm{
    padding: 160px 20px;
}