@charset "utf-8";
body{
	font-size: 16px;
}
.site-notice {
	padding: 5px 0;
	text-align: center;
	background-color: #208d4e;
}
.site-notice a {
	color: #eee;
}
.container{
	background-color: #fafbfc;
	padding: 0px;
}
.container > .col-md-8{
	padding: 0px;
	border-bottom: 1px solid #E1E4E6;
}
.container > .col-md-4{
	padding: 0px;
	height: 100%;
}
.core_title{
	background-color: #ffffff;
	height: 56px;
	line-height: 56px;
	border-left: 1px solid #E5E5E5;
	border-bottom: 1px solid #BBBDBF;
}
.auti-title{
	font-size: 20px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 3px;
}
.detail-heart:hover{
	text-decoration:none;
	cursor:pointer;
	color: #ff0066;
}
.detail-like:hover{
	text-decoration:none;
}
.detail-like{
	position: absolute;
	top: 7px;
	right: 20px;
}
.detail-heart{
	padding-right: 7px;
	font-weight: bold;
}
.col-md-8 .col-md-4{
	background-color: #fafbfc;
	text-align: center;
}

.ranking-list{
	text-align: left;
	margin: 60px auto;
	width: 300px;
	padding: 2px;
	position:relative;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius:20px;
	background: white;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.ranking-list:before{
	content: '';
	text-align: center;
	width: 110%;
	left: 0; 
	/* height: 111%; */
	z-index:-1;
	position:absolute;
	border-radius:20px;
	border: 1px solid rgba(0,0,0, 0.1);
	background: rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-transform: translate(-5%,-5%);
}

.ranking-list:after{
	content: 'hot';
	font-size: 20px;
	color: #ff0066;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	position:absolute;
	top: -40px; 
	left: 30%;
	width: 130px;
	padding: 7px;
	background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
	border-left: 1px dashed rgba(0, 0, 0, 0.1);
	border-right: 1px dashed rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.ranking-list a{
	display: block;
	padding-left: 15px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 4px;
	color: #666;
}
.ranking-list a:hover{
	text-decoration: none;
}
.ranking-number{
	margin-right: 15px;
	color: red;
}
.dp-wrapper{
	width: 86px;
	height: 86px;
	padding: 2px;
	border: 1px solid #cccccc;
	margin: 10px auto;
}
.dp{
    display: block;
	width: 80px;
	height: 80px;
}
.col-md-8 .col-md-8{
	background-color: #ffffff;
	min-height: 374px;
	padding: 20px 15px;
}
.page{
	padding: 20px 30px;
	background: #f7f8fa;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	position: relative;
}
.return-index{
	position: absolute;
	right: 20px;
	top: 23px;
}
.text-danger{
	font-size: 18px;
	margin: 0px 2px;
}
.bottom{
	background-color: #fbfbfb;
}
.poster_head_text{
	margin: 10px;
	margin-left: 203px;
}
.kind-editor{
	width: 730px;
	margin: 0px auto;
	padding: 40px 14px 14px;
	border: 1px solid #dfdfdf;
	background: #fafafa;
}
.reply{
	margin: 10px;
	margin-left: 203px;
}