<!--start management-->
<div class="wrap cfix">
    <div class="l leftCon">
        <div class="userbox tac">
            <div class="uimg">
                <img class="j_usr_img" src="../../../Images/03-login/portraint01.png" width="100" height="100" alt="" />
            </div>

            <p class="p1"><span class="fs14 td-n j_usr_name"><span class="myname" title="">昵 称：{{userInfoModel.nickName}}</span>
                <!--<a href="#" target="_blank" class="ico-edit"></a>-->
            </span> </p>
            <p class="p2">(用户ID: {{userInfoModel.loginId}})</p>
            <p><span class="fs14 vam"> 余额 : <strong class="c-red">888</strong></span></p>
        </div>
        <ul class="sidenav manageCenterUl">
            <li><a routerLink="/managementCenter" (click)="sidenavClick($event,0)"><span class="ico_luck" (click)="sidenavSpanClick($event,0)">我的账户</span> </a></li>
            <li><a routerLink="/managementCenter" (click)="sidenavClick($event,1)"><span class="ico_buy" (click)="sidenavSpanClick($event,1)">我的订单</span></a></li>
            <li><a routerLink="/managementCenter" (click)="sidenavClick($event,2)"><span class="ico_db" (click)="sidenavSpanClick($event,2)">我的发布</span></a></li>
        </ul>
    </div>   
        <!-- 未登陆 --> 
        <div class="r rightCon" *ngIf="navStatus==-1">
            <div class="col-md-7 black_login">
                <img src="../../Images/03-login/blank_bg.png" />
            </div>
            <div class="col-md-4 black_login_r">
                <h3>您尚未登录，请先登录~</h3>
                <a routerLink="/login" >登    录</a>
            </div>
        </div>
        <!-- 我的账户 -->
        <div class="r rightCon" *ngIf="navStatus==0">
            <div class="cfix topTit">
                <h3 class="l fs20 c-black">个人信息完善</h3>
            </div>
            <div class="col-md-7 col-md-offset-2 personalDetail_right">
                <form action="" id="personalDetailform" class="form-horizontal" style="min-width:500px;">
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">昵  称 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="userInfoModel.nickName" name="nickName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">头  像 :</label>
                        <div class="col-sm-10">
                            <div class="col-sm-3 prePotrait">
                                <img src="{{headerImageData}}" />
                            </div>
                            <div class="col-sm-7">
                                <input form="uploadHeadForm" id="personalHead_upload" type="file" name="file" placeholder="file" (change)="personalHeadUpload($event)" [(ngModel)]="personalHeadInput">
                                <p *ngIf="uploadFlag" style="color:#e72015;margin-left:20px;">{{uploadErrorMsg}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">电  话 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="userInfoModel.phone" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">邮  箱 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="userInfoModel.email" name="email" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="true" class="col-sm-2 control-label">城  市 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="" [(ngModel)]="userInfoModel.position" name="position">
                        </div>
                    </div>
                    <div class="form-group">
                        <p>{{saveResult}}</p>
                        <input type="button" class="col-md-10 col-md-offset-1 userInfoSave_btn" value="保 存 个 人 信 息" (click)="userInfoSave()" name="">
                    </div>
                </form>
                <form id="uploadHeadForm"></form>
            </div>
        </div>
        <!-- 我的订单 -->
        <div class="r rightCon" *ngIf="navStatus==1">
            <div class="cfix topTit">
                <h3 class="l fs20 c-black">我的订单记录</h3>
            </div>
            <div class="cfix tabBox">
                <ul class="l cfix tabs">
                    <li class="on"><a href="javascript:void(0);" (click)="tabBoxClick_myorder($event)">全部</a></li>
                    <li class=""><a href="javascript:void(0);" (click)="tabBoxClick_myorder($event)">待完成</a></li>
                    <li class=""><a href="javascript:void(0);" (click)="tabBoxClick_myorder($event)">待支付</a></li>
                    <li class=""><a href="javascript:void(0);" (click)="tabBoxClick_myorder($event)">已结束</a></li>
                </ul>
                <div class="r filter cfix">
                    <span class="txt l">筛选：</span>
                    <div class="selBox l">

                    </div>
                </div>
            </div>
            <div class="myorderBlock col-md-3 col-md-offset-1"  *ngFor="let item of myorderModelList">
                <div class="myorderTitle">
                    <p><strong>订单编号：</strong>{{item.orderUid}}</p>
                </div>
                <div class="myorderBody">
                    <!--<img *ngIf="item.firstImg==''" src="../../Images/03-login/portraint01.png" />-->
                    <img src="{{item.firstImg}}" />
                    <div class="myorderBody_des">
                        <h4>{{item.orderDescription}}</h4>
                        <input type="button" class="no-top-margin myorderDetail_btn" value="查 看 详 情" name="" (click)="toMyorderDetail()">
                        <input type="button" class="no-top-margin myorderComplaint_btn" value="投       诉" name="">
                    </div>
                </div>
            </div>

        </div>
        <!-- 我的发布 -->
        <div class="r rightCon" *ngIf="navStatus==2">
            <div class="cfix topTit">
                <h3 class="l fs20 c-black">我的发布记录</h3>
            </div>
            <div class="cfix tabBox">
                <ul class="l cfix tabs">
                    <li class="on"><a href="javascript:void(0);">全部</a></li>
                    <li class=""><a href="javascript:void(0);">待接单</a></li>
                    <li class=""><a href="javascript:void(0);">待支付</a></li>
                    <li class=""><a href="javascript:void(0);">待确认</a></li>
                    <li class=""><a href="javascript:void(0);">已结束</a></li>
                </ul>
                <div class="r filter cfix">
                    <span class="txt l">筛选：</span>
                    <div class="selBox l">

                    </div>
                </div>
            </div>
        </div>

    </div>
<!--end management-->
