<!--start orderDetail-->
<div class="orderDetail">
    <div class="row">
        <div class="slider-wrap col-md-7">
            <div *ngIf="order.imageDatas.length==0" class="detail_carousel_C">
                <img src="../../../Images/03-login/blank_bg.png" />
            </div>
            <div *ngIf="order.imageDatas.length==1" class="detail_carousel_C">
                <img src="{{order.imageDatas[0]}}" />
            </div>
            <div *ngIf="order.imageDatas.length>1">
                <div class="orderDetail_ret">
                    <img src="{{order.imageDatas[0]}}" />
                </div>
                <div class="orderDetail_ret_box">
                    <div class="orderDetail_ret_block" *ngFor="let item of order.imageDatas">
                        <img src="{{item}}" (click)="orderDetail_img_cli($event)" />
                    </div>
                    <div stylr="clear:both;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5 orderDetail_right">
            <div class="row">
                <p class="col-md-3 detail_title">发布者 :</p>
                <p class="col-md-9 detail_content">{{publisherLoginId}}</p>
            </div>
            <div class="row">
                <p class="col-md-3 detail_title">价  格 :</p>
                <p class="col-md-9 detail_content"><span style="color:tomato;font-size:22px;">￥</span>{{order.orderValue}}</p>
            </div>
            <div class="row">
                <p class="col-md-3 detail_title">分  类 :</p>
                <p class="col-md-9 detail_content">{{orderCategoryName}}</p>
            </div>
            <div class="row">
                <p class="col-md-3 detail_title">简  介 :</p>
                <p class="col-md-9 detail_content">{{order.orderDescription}}</p>
            </div>
            <div class="row">
                <p class="col-md-3 detail_title">地  址 :</p>
                <p class="col-md-9 detail_content">{{order.address}}</p>
            </div>
            <div class="row">
                <input type="button" class="col-md-10 col-md-offset-1 no-top-margin getorder_btn" value="立  即  抢  单~" (click)="getOrder()" *ngIf="getOrderButtonIsDisabled==1" name="">
                <input type="button" class="col-md-10 col-md-offset-1 no-top-margin getorder_dis_btn" disabled="disabled" value="手慢一步，试试其他订单吧~" (click)="getOrder()" *ngIf="getOrderButtonIsDisabled==0" name="">
            </div>
        </div>
    </div>
    <div class="comment">

    </div>


</div>
<!--end orderDetail-->
