@charset "utf-8";
/* CSS Document */
/* order detail css*/
.orderDetail {
    min-height: 600px;
}

.slider-wrap {
    background: white;
    padding: 10px;
    height: 530px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.orderDetail_slider {
    /*width: 940px;*/
    height: 400px;
    /*margin:0 auto;*/
}

    .orderDetail_slider strong {
        color: #F0E10E;
    }

.orderDetail_right {
    padding: 120px 30px 10px 0;
}

.detail_title {
    text-align: right;
}

.orderDetail_right p {
    font-size: 18px;
}

.orderDetail_right .getorder_btn {
    height: 40px;
    font-size: 22px;
    background-color: #e72015;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 28px;
    float: left;
    margin-bottom: 20px;
}

.orderDetail_right .getorder_dis_btn {
    height: 40px;
    font-size: 22px;
    background-color: #808080;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 28px;
    float: left;
    margin-bottom: 20px;
}

.orderDetail_right .getorder_btn:hover, .orderDetail_right .getorder_btn:focus {
    background-color: #ef5048;
}

.orderDetail_right .getorder_dis_btn:hover, .orderDetail_right .getorder_dis_btn:focus {
    background-color: #989595;
}

/*bootstrap轮播*/
.detail_carousel_C img{
	width:100%;
	height:500px;
}

.detail_carousel_left,.detail_carousel_right {
	width:50px;
	height:50px;
	margin-left:20px;
	margin-top:230px;
	background: url('../../Images/30-order/prev_next.png') no-repeat;
}
.detail_carousel_right{
	background-position: -40px;
}



.orderDetail_ret{
		width:100%;
		height:400px;
	}
	.orderDetail_ret img{
		width:100%;
		height: 100%;
        cursor:pointer;
	}
	.orderDetail_ret_box{
		margin-top: 10px;
	}
	.orderDetail_ret_block{
		width:150px;
		height: 100px;
		border: solid 1px #444;
		float: left;
		padding: 2px;
        margin-left:15px;
	}
    .orderDetail_ret_block:first-child{
        border-color:tomato;
    }
	.orderDetail_ret_block img{
		width:100%;
		height: 100%;
	}