@charset "utf-8";
/* CSS Document */
.index_slider-wrap {
  background: #182a35;
  height: 490px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.index_slider {
  height: 450px;
}
.index_slider strong { color: #F0E10E; }

/*bootstrap轮播*/
.index_carousel_C img{
	width:100%;
	height:500px;
}

.index_carousel_left,.index_carousel_right {
	width:50px;
	height:50px;
	margin-left:60px;
	margin-top:230px;
	background: url('../../Images/30-order/prev_next.png') no-repeat;
}
.index_carousel_right{
	background-position: -40px;
}
