<div class="container-fluid">
    <header><h2>Index</h2></header>
    <article class="row">
        <header><h1>the app description:</h1></header>
        <p>wlecome to ant-help !</p>
        <aside>come and join us !</aside>
    </article>
    <section class="row">
        <header class="row"><h3></h3></header>
        <p class="col-md-4">Description No1</p>
        <p class="col-md-4">Description No2</p>
        <p class="col-md-4">Description No3</p>
    </section>
    <button class="btn-success">JOIN US NOW !</button>
</div>
