<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active index_carousel_C">
            <img src="../../Images/30-order/bg1.png" />
            <div class="carousel-caption">标题 1</div>
        </div>
        <div class="item index_carousel_C">
            <img src="../../Images/30-order/bg2.png" />
            <div class="carousel-caption">标题 2</div>
        </div>
        <div class="item index_carousel_C">
            <img src="../../Images/30-order/bg3.png" />
            <div class="carousel-caption">标题 3</div>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">
        <div class="index_carousel_left"></div>
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next"><div class="index_carousel_right"></div></a>
</div> 

<!-- BEGIN middle_silver_background with icons  -->
<div class="middle_silver_background">
    <div class="container">
        <ul id="sti-menu" class="sti-menu">
            <li data-hovercolor="#ffffff">
                <a href="#">
                    <h2 data-type="mText" class="sti-item">个人服务</h2>
                    <h3 data-type="sText" class="sti-item">Connect designers</h3>
                    <span data-type="icon" class="sti-icon sti-icon-one sti-item"></span>
                </a>
            </li>
            <li data-hovercolor="#ffffff">
                <a href="#">
                    <h2 data-type="mText" class="sti-item">二手货品</h2>
                    <h3 data-type="sText" class="sti-item">Professional work</h3>
                    <span data-type="icon" class="sti-icon sti-icon-two sti-item"></span>
                </a>
            </li>
            <li data-hovercolor="#ffffff">
                <a href="#">
                    <h2 data-type="mText" class="sti-item">家电维修</h2>
                    <h3 data-type="sText" class="sti-item">You won't regret it</h3>
                    <span data-type="icon" class="sti-icon sti-icon-three sti-item"></span>
                </a>
            </li>
            <li data-hovercolor="#ffffff">
                <a href="#">
                    <h2 data-type="mText" class="sti-item">兼职招聘</h2>
                    <h3 data-type="sText" class="sti-item">Let it roar!</h3>
                    <span data-type="icon" class="sti-icon sti-icon-four sti-item"></span>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<!-- /END middle_silver_background with icons -->
<!-- BEGIN middle part -->
<section id="content">


    <!-- first part -->
    <div *ngIf="OrderList_free.length>0">
        <h3>免费专场</h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_free;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- /frst part -->
    <!-- first part -->
    <div *ngIf="OrderList_buy.length>0">
        <h3>代购代帮</h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_buy;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
        </div>
        <!-- /frst part -->
        <!-- first part -->
    <div *ngIf="OrderList_pet.length>0">
        <h3>宠物之家</h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_pet;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
        </div>
        <!-- /frst part -->
        <!-- first part -->
    <div *ngIf="OrderList_family.length>0">
        <h3>家政服务</h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_family;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
        </div>
        <!-- /frst part -->
        <!-- second part -->
        <!--<h3 class="marg-top40">专题推荐</h3>
        <div class="con_border"></div>
        <div class="column column-1-3  marg-top">
            <a class="image_rollover_bottom marg-bott" data-description="READ MORE" href="services_page.html">
                <img src="../../Images/01-index/home/top1.jpg" />
            </a>
            <div class="blog_content_info con_borderGray">
                <div class="blog_content_date">9<br /><span>MAY</span></div>
                <a href="blog_post.html" class="comment_number">15</a>
                <div class="clear"></div>
            </div>
            <div class="blog_content_excerpt">
                <div class="padd-bott5 bold colorBlack">免费闲置</div>
                万件物品免费领Lorem ipsum dolor sit amet, rutrum sapient porta sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing.
            </div>

        </div>

        <div class="column column-1-3  marg-top">
            <a class="image_rollover_bottom marg-bott" data-description="READ MORE" href="services_page.html">
                <img src="../../Images/01-index/home/top2.jpg" />
            </a>
            <div class="blog_content_info con_borderGray">
                <div class="blog_content_date">9<br /><span>MAY</span></div>
                <a href="blog_post.html" class="comment_number">15</a>
                <div class="clear"></div>
            </div>

            <div class="blog_content_excerpt">
                <div class="padd-bott5 bold colorBlack">附近职位</div>
                离家近的好职位。 adipiscing elit. Phasellus at semper risus. Curabitur mattis dapibus quam, tincidunt rutrum sapient porta sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing.
            </div>
        </div>
        <div class="column column-1-3 column-last  marg-top">
            <a class="image_rollover_bottom marg-bott" data-description="READ MORE" href="services_page.html">
                <img src="../../Images/01-index/home/top3.jpg" />
            </a>
            <div class="blog_content_info con_borderGray">
                <div class="blog_content_date">9<br /><span>MAY</span></div>
                <a href="blog_post.html" class="comment_number">15</a>
                <div class="clear"></div>
            </div>

            <div class="blog_content_excerpt">
                <div class="padd-bott5 bold colorBlack">全新未拆</div>
                买到就是赚到Lorem ipsum dolor sit amet. Curabitur mattis dapibus quam, tincidunt rutrum sapient porta sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing.
            </div>
        </div>-->
        <!-- /second part -->
        <!--<div class="clear"></div>-->
</section>
<!-- /END middle part -->
