<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active index_carousel_C">
            <img src="../../Images/01-index/index03.jpg" />
            <div class="carousel-caption">AntHelp 0 距离感</div>
        </div>
        <div class="item index_carousel_C">
            <img src="../../Images/01-index/index02.jpg" />
            <div class="carousel-caption">Super Power</div>
        </div>
        <div class="item index_carousel_C">
            <img src="../../Images/01-index/index01.jpg" />
            <div class="carousel-caption">蚂蚁热帮</div>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">
        <div class="index_carousel_left"></div>
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next"><div class="index_carousel_right"></div></a>
</div> 

<!-- BEGIN middle_silver_background with icons  -->
<div class="middle_silver_background">
    <div class="container">
        <ul id="sti-menu" class="sti-menu">
            <li data-hovercolor="#ffffff">
                <a href="javascript:void(0);" (click)="goCategory(3)">
                    <h2 data-type="mText" class="sti-item">代理销售</h2>
                    <h3 data-type="sText" class="sti-item">Agency & Sales</h3>
                    <span data-type="icon" class="sti-icon sti-icon-one sti-item"></span>
                </a>
            </li>
            <li data-hovercolor="#ffffff">
                <a href="javascript:void(0);" (click)="goCategory(4)">
                    <h2 data-type="mText" class="sti-item">维修装修</h2>
                    <h3 data-type="sText" class="sti-item">Professional work</h3>
                    <span data-type="icon" class="sti-icon sti-icon-two sti-item"></span>
                </a>
            </li>
            <li data-hovercolor="#ffffff">
                <a href="javascript:void(0);" (click)="goCategory(8)">
                    <h2 data-type="mText" class="sti-item">汽车服务</h2>
                    <h3 data-type="sText" class="sti-item">You won't regret it</h3>
                    <span data-type="icon" class="sti-icon sti-icon-three sti-item"></span>
                </a>
            </li>
            <li data-hovercolor="#ffffff">
                <a href="javascript:void(0);" (click)="goCategory(10)">
                    <h2 data-type="mText" class="sti-item">其他服务</h2>
                    <h3 data-type="sText" class="sti-item">Others</h3>
                    <span data-type="icon" class="sti-icon sti-icon-four sti-item"></span>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<!-- /END middle_silver_background with icons -->
<!-- BEGIN middle part -->
<section id="content">


    <!-- first part -->
    <div *ngIf="OrderList_free.length>0">
        <h3><a class="cateTitle_a" href="javascript:void(0);" (click)="goCategory(6)">免费专场</a></h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_free;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- /frst part -->
    <!-- first part -->
    <div *ngIf="OrderList_buy.length>0">
        <h3><a class="cateTitle_a" href="javascript:void(0);" (click)="goCategory(2)">代购代帮</a></h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_buy;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
        </div>
        <!-- /frst part -->
        <!-- first part -->
    <div *ngIf="OrderList_pet.length>0">
        <h3><a class="cateTitle_a" href="javascript:void(0);" (click)="goCategory(7)">宠物之家</a></h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_pet;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
        </div>
        <!-- /frst part -->
        <!-- first part -->
    <div *ngIf="OrderList_family.length>0">
        <h3><a class="cateTitle_a" href="javascript:void(0);" (click)="goCategory(5)">家政服务</a></h3>
        <div class="con_border"></div>
        <div class="column column-1-4  marg-top text-center" *ngFor="let item of OrderList_family;let i = index;">
            <div *ngIf="i<4">
                <a class="image_rollover_bottom marg-bott" data-description="READ MORE" id="{{item.orderUid}}" href="javascript:void(0);" (click)="goOrderDetail($event)">
                    <img src="{{item.firstImg}}" />
                </a>
                <b class="colorBlack"><span style="color:tomato;font-size:20px;">￥</span>{{item.orderValue}}</b><br />
                <b class="colorBlack">{{item.orderDescription}}</b><br />
            </div>
        </div>
        <div class="clear"></div>
        </div>
        
</section>
<!-- /END middle part -->
