<!--start publish-->
<div class="publishAll" >
    <div class="col-md-4 public_block" *ngFor="let item of publish_kinds.publish;let i=index;">
        <a href="###" data-toggle="modal" data-target="#publishModal" id="{{item.id}}" (click)="openModal($event)">
            <div class="circle_div">
                <!--<img src="{{item.imgSrc}}" />-->
                <div class="kinds_icon kinds_icon_{{i}}"></div>
            </div>
            <p class="public_kind">{{item.kindName}}</p>
        </a>
    </div>
    <div style="clear:both;"></div>
</div>

    <div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="publishModalLabel">新     发    布</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="publishform" class="form-horizontal" style="min-width:500px;">
                        <div class="form-group">
                            <label for="true" class="col-sm-2 control-label">分 类 :</label>
                            <div class="col-sm-10">
                                <!--<input type="
                                    text" class="form-control" placeholder="" name="">-->
                                <p class="publishform_kindsName">{{kindsName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="true" class="col-sm-2 control-label" >描 述 :</label>
                            <div class="col-sm-10">
                                <!--<input type="text" class="form-control" placeholder="请输入...." name="">-->
                                <textarea class="form-control" placeholder="请输入...." name="orderDescription" rows="3" [(ngModel)]="order.orderDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="true" class="col-sm-2 control-label">图 片 :</label>
                            <div class="col-sm-10">
                                <input form="uploadForm" id="publish_upload" type="file" name="file" placeholder="file" multiple (change)="publishUpload($event)" [(ngModel)]="changeInput">
                            </div>
                        </div>
                        <div class="form-group" *ngIf="uploadFlag=='true'&&showImg==true">
                            <label for="true" class="col-sm-2 control-label" style="padding-top:40px;color:tomato;">预 览 >></label>
                            <div class="col-sm-10 resultImg">
                                <img src="{{itemPic}}" alt="" *ngFor="let itemPic of imageList" />
                                <img style="width:60px;height:60px;margin-top:0;border:none;" src="../../../Images/30-order/addpic.png" (click)="addUpload($event)" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="uploadFlag=='false'">
                            <label for="true" class="col-sm-2 control-label" style="color:tomato;">预 览 >></label>
                            <div class="col-sm-10 resultText">
                                <p class="resultImg_msg">{{uploadErrorMsg}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="true" class="col-sm-2 control-label">价 格 :</label>
                            <div class="col-sm-10 input-group publish_inputgroup">
                                <!--<input type="text" class="form-control" placeholder="请输入...." name="">-->
                                <span class="input-group-addon" style="color:tomato;">￥</span>
                                <input type="text" class="form-control publish_price"  [(ngModel)]="order.orderValue" name="price" aria-label="Amount (to the nearest dollar)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="true" class="col-sm-2 control-label">地 址 :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入...." name="address" [(ngModel)]="order.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="true" class="col-sm-2 control-label">电话号码:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="请输入...." [(ngModel)]="order.phone" name="phone">
                            </div>
                        </div>
                    </form>
                    <form id="uploadForm"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="OrderPublishClear()">关 闭</button>
                    <button type="button" class="btn btn-primary" (click)="OrderPublish()">发 布</button>
                </div>
            </div>
        </div>
    </div>
    <!--end publish-->
