<!--<h1></h1>-->
<!--<nav>
    <a routerLink="/">Index</a>
    <a routerLink="/example">Example</a>
</nav>-->
<!-- BEGIN menu -->
<header class="header_silverbackground">
    <div class="menu">
        <!-- BEGIN fixed-menu -->
        <nav class="navbar navbar-default navbar-fixed-top fixed_navbar">
            <div class="container">
                <div class="col-md-4 col-md-offset-2 app_title">
                    <a routerLink="/">{{title}}</a>
                </div>
                <ul class="col-md-2 nav navbar-nav mynavbar" *ngIf="!loginResult.isLogin">
                    <li><a routerLink="/login">登 录</a></li>
                    <li><a routerLink="/signup">注 册</a></li>
                </ul>
                <ul class="col-md-2 nav navbar-nav mynavbar" *ngIf="loginResult.isLogin">
                    <div style="padding-top:5px;">欢迎~ {{loginResult.loginId}}</div>
                </ul>
                <ul class="col-md-4 nav navbar-nav mynavbar navbar-right">
                    <li><a routerLink="/topic">社 区</a></li>
                    <li><a>活动中心</a></li>
                    <li><a>发 布</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            个人中心
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#">我的积分</a></li>
                            <li><a href="#">我的订单</a></li>
                            <li><a href="#">我的账户</a></li>
                            <li><a href="#">我的发布</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">投   诉</a></li>
                        </ul>
                    </li>
                    <li><a>消息(1)</a></li>                    
                </ul>
            </div>
        </nav>
        <!-- /END fixed-menu -->
        <!-- BEGIN logo -->
        <div style="margin-top:30px;"></div>
        <!-- /END logo -->

        <!--<div class="blockeasing-wrapp" style="margin-top:30px;">
            <h6 class="blockeasing-header">Menu</h6>
            <ul class="blockeasing">
                <li class="current">
                    <a routerLink="/">首页</a>
                    <ul>
                        <li>
                            <a href="index.html">SLIDE 1</a>
                            <ul>
                                <li><a href="index_layout_v1.html">HOME LAYOUT V1</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="index1.html">SLIDE 2</a>
                            <ul>
                                <li><a href="index1_layout_v1.html">HOME LAYOUT V1</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="index2.html">SLIDE 3</a>
                            <ul>
                                <li><a href="index2_layout_v1.html">HOME LAYOUT V1</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a routerLink="/example">example</a></li>
                <li>
                    <a href="blog.html">今日新单</a>
                    <ul>
                        <li><a href="blog_post.html">POST EXAMPLE</a></li>
                    </ul>
                </li>
                <li>
                    <a href="services.html">积分商城</a>
                    <ul>
                        <li><a href="services_page.html">SERVICES PAGE</a></li>
                    </ul>
                </li>
                <li><a routerLink="/signupVerify">专题推荐</a></li>
                <li>
                    <a href="#">今日话题</a>
                    <ul>
                        <li><a href="icons.html">ICONS</a></li>
                        <li><a href="elements.html">ELEMENTS</a></li>
                        <li><a href="columns.html">COLUMNS</a></li>
                        <li><a href="typography.html">TYPOGRAPHY</a></li>
                    </ul>
                </li>
                <li><a routerLink="/signup">联系我们</a></li>
                <li><a routerLink="/login">登录</a></li>
            </ul>
        </div>-->
        <div class="clear"></div>
    </div>
</header>
<!-- /END menu -->
<router-outlet></router-outlet>

