<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--start QX_Frame configs-->
  <connectionStrings>
    <add name="QX_Frame_Default" connectionString="data source=.;initial catalog=db_qx_frame;user id=sa;password=Sa123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="db_qx_frame" connectionString="data source=.;initial catalog=db_qx_frame;user id=sa;password=Sa123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="db_AntHelp" connectionString="data source=.;initial catalog=db_AntHelp;persist security info=True;user id=sa;password=Sa123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--System Configs-->
    <add key="WebAppDomain" value="http://localhost:3998/" />
    <add key="AppDomain" value="http://localhost:3999/" />
    <!--伪静态路径最大深度-->
    <add key="rewritedepth" value="10" />
    <!--自定义响应头，key-value用冒号隔开，多个头用封号隔开-->
    <add key="responseheaders" value="Access-Control-Allow-Origin:*;Access-Control-Allow-Methods:GET,POST,PUT,DELETE;Access-Control-Allow-Headers:Content-Type" />
    <!--End System Configs-->
    
    <!--Log Save Location-->
    <add key="Log_Location_General_DG" value="Log_QX_Frame/Log_QX_Frame_General/" />
    <add key="Log_Location_Error_DG" value="Log_QX_Frame/Log_QX_Frame_Error/" />
    <add key="Log_Location_Use_DG" value="Log_QX_Frame/Log_QX_Frame_Use/" />
    <!--end Log Save location-->
    
    <!-- Cache config-->
    <add key="IsCache" value="1" />
    <!-- 1 true 0 false-->
    <add key="CacheExpirationTime_Minutes" value="10" />
    <!--end Cache config-->
    
    <!--Auth validation config unit="minute"-->
    <add key="RequestExpireTime" value="10" />
    
    <add key="Auth_Token_ExpireTime_days" value="0" />
    <add key="Auth_Token_ExpireTime_hours" value="1" />
    <add key="Auth_Token_ExpireTime_minutes" value="30" />
    <!--end Auth validation config-->
    
    <!--Programe Configs-->
    
    <!--end Programe Configs-->
  </appSettings>
  <!--end QX_Frame configs-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>